<div class="jumbotron jumbotron-fluid" id="mostpop">
    <div class="container">

        <h1 class="h2" style="margin: 0 15px;">Most Popular</h1>

        <div class="card-layout">

            {{#each popular}}

            <div class="card">
                <img src="https://image.tmdb.org/t/p/original{{this.backdrop_path}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.trimmedOverview}}</p>
                    <p class="card-text">Rating: {{this.vote_average}}/10</p>
                    <button class="btn movie-detail-btn movie" data-id={{this.id}}>View Details</button>
                </div>
            </div>

            {{/each}}
        </div>

        <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#movie-modal"
            id="movie-modal-btn">
            Launch demo modal
        </button>

        <div class="modal fade" tabindex="-1" role="dialog" id="movie-modal">
            <div class="modal-dialog" role="document" style="max-width: 700px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>